@model List<LearnHub.Models.Courses>

@{
    ViewData["Title"] = "Обзор курсов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-index">
    <div class="left-content">
        <div class="slider">
            <div class="slide-container">
                @foreach (var courseGroup in Model.Chunk(4))
                {
                    <div class="slide">
                        @foreach (var course in courseGroup)
                        {
                            <div class="card">
                                <h2><a href="@Url.Action("Info", "Course", new { id = course.CourseId })">@course.Title</a></h2>
                                <p><a href="@Url.Action("OtherProfile", "Account", new {userId = course.UserId})">@course.User.Username</a></p>
                                <p>@course.Description</p>
                            </div>
                        }
                    </div>
                }               
            </div>
            <div class="pagination"></div>
            <button class="prev">❮</button>
            <button class="next">❯</button>
        </div>       
    </div>
    <div class="right-content">
        <div class="banner">
            <h2>Хотите начать преподавать?</h2>
            <p>Присоединяйтесь к нашему сообществу преподавателей и делитесь своим знанием с миллионами студентов!</p>
            <a asp-controller="Course" asp-action="Teaching">Начать преподавать</a>
        </div>
    </div>
</div>