@model IEnumerable<LearnHub.Models.Courses>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var course in Model)
    {
        var averageGrade = course.Grades.Any() ? course.Grades.Average(g => g.Grade) : (double?)null;
        var gradeCount = course.Grades.Count();

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => course.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => course.Description)</p>
                    <p class="card-text">Author: @Html.DisplayFor(modelItem => course.User.Username)</p>
                    @if (averageGrade != null)
                    {
                        <p class="card-text">Grade: @($"{averageGrade:f1} ({gradeCount} reviews)")</p>
                    }
                    else
                    {
                        <p class="card-text">Grade: N/A</p>
                    }
                    <p class="card-text">Enrollments: @course.Enrollments.Count()</p>
                    <a href="#" class="btn btn-primary">View Course</a>
                </div>
            </div>
        </div>
    }
</div>