@model LearnHub.Models.Lessons

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="teach-container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <h2>Уроки</h2>
        </div>
        <div class="col-md-3 text-end">
            <a class="btn btn-primary" href="@Url.Action("Create", "Assignment", new { lessonId = Model.LessonId })">Новое задание</a>
        </div>
        <ul class="course-list">
            @foreach (var assignments in Model.Assignments)
            {
                <li class="course-item">
                    <h3 class="course-title">@assignments.Task</h3>
                    <div class="course-actions">
                        <a href="@Url.Action("Details", "Assignment", new { id = assignments.AssignmentId })">Содержимое</a>
                        <a href="@Url.Action("Edit", "Assignment", new { id = assignments.AssignmentId })">Редактировать</a>
                        <form asp-controller="Assignment" asp-action="Delete" asp-route-id="@assignments.AssignmentId" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить @assignments.Task?');">
                            <button type="submit" class="course-delete-btn">Удалить</button>
                        </form>
                    </div>
                </li>
            }
        </ul>
    </div> 
</div>