@model LearnHub.Models.Chats

@{
    ViewData["Title"] = "Сообщения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="chat-container">
    <div class="chat-list">
        <ul>
            @foreach (var chat in ViewBag.UserChats)
            {
                <li class="chat-item @(chat.ChatId == Model?.ChatId ? "active" : "")">
                    <a href="@Url.Action("Message", new { userId = chat.SecondParticipant == ViewBag.CurrentUserId ? chat.FirstParticipant : chat.SecondParticipant })">
                        <img src="@(chat.SecondParticipant == ViewBag.CurrentUserId ? chat.FirstParticipantNavigation.Avatar : chat.SecondParticipantNavigation.Avatar)" alt="Avatar" class="avatar">
                        <span>@(chat.SecondParticipant == ViewBag.CurrentUserId ? chat.FirstParticipantNavigation.Username : chat.SecondParticipantNavigation.Username)</span>
                    </a>
                </li>
            }
        </ul>
    </div>
    @if (Model != null)
    {
        <div class="chat-messages-container">
            <div class="chat-header">
                <img src="@ViewBag.RecipientAvatar" alt="Avatar" class="avatar">
                <span>@ViewBag.RecipientUsername</span>
            </div>
            <div class="chat-messages" id="chatMessages">
                @if (Model.Messages.Any())
                {
                    DateTime previousDate = DateTime.MinValue;
                    foreach (var message in Model.Messages.OrderBy(m => m.SentDate))
                    {
                        if (message.SentDate.Date != previousDate.Date)
                        {
                            <div class="message-date">
                                @message.SentDate.ToString("dd.MM.yyyy")
                            </div>
                        }
                        <div class="message @(message.SenderId == ViewBag.CurrentUserId ? "sent" : "received")">
                            <p>@message.MessageText</p>
                            <span class="message-time">@message.SentDate.ToString("HH:mm")</span>
                        </div>
                        previousDate = message.SentDate;
                    }
                }
            </div>
            <div class="chat-input">
                <form asp-action="SendMessage" method="post" class="input-form">
                    <input type="hidden" name="chatId" value="@Model.ChatId" />
                    <textarea id="messageText" class="message-input" name="messageText" placeholder="Введите сообщение..." required></textarea>
                    <button type="submit" class="send-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M2 21L23 12 2 3v7l15 2-15 2z" /></svg>
                    </button>
                </form>
            </div>
        </div>
    }
</div>