@model LearnHub.Models.Users

@{
    ViewData["Title"] = "Профиль";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var activityDataJson = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ActivityData);
}

<div class="row gutters-sm">
    <div class="col-md-4 mb-3">
        <div class="card-profile">
            <div class="card-body-profile">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="@Model.Avatar" alt="Avatar" class="avatar-img">
                    <div class="mt-3">
                        <h4>@Model.Username</h4>
                    </div>
                </div>
            </div>
        </div>   
        <div class="card-profile mt-3">
            <div class="card-body-profile">
                <div class="row">
                    <div class="col-6 text-center">
                        <div class="statistic">
                            <p class="statistic-title">Решено задач</p>
                            <p class="statistic-value">@ViewBag.SolvedTasksCount</p>
                        </div>
                    </div>
                    <div class="col-6 text-center">
                        <div class="statistic">
                            <p class="statistic-title">Пройдено курсов</p>
                            <p class="statistic-value">@ViewBag.CompletedCoursesCount</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card-profile mb-3">
            <div class="card-body-profile">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Фамилия Имя</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.LastName @Model.FirstName
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Email
                    </div>
                </div>
            </div>
        </div>
        <div class="card-profile mb-3">
            <div class="card-body-profile">
                <h6>Календарь активности</h6>
                <div id="cal-heatmap" class="col-md-12"></div>
                <div class="col-md-12">
                    <label class="label label-default" id="previousSelector-a-previous">Предыдущий год</label>
                    <label class="label label-default" id="previousSelector-a-next">Следующий год</label>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var activityData = @Html.Raw(activityDataJson);
        var transformedData = {};
        for (const [key, value] of Object.entries(activityData)) {
            const timestamp = new Date(key).getTime() / 1000;
            transformedData[timestamp] = value;
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        var cal = new CalHeatMap();
        cal.init({
            data: transformedData,
            domain: "month",
            subDomain: "day",
            cellRadius: 3,
            previousSelector: "#previousSelector-a-previous",
            nextSelector: "#previousSelector-a-next",
            tooltip: true,
            itemName: ["task", "tasks"],
            subDomainTitleFormat: {
                empty: '{date} </br> Решено задач: 0',
                filled: '{date} </br> Решено задач: {count}'
            },
            domainLabelFormat: "%Y-%m",
            subDomainDateFormat: "%d",
            range: 12,
            start: new Date(new Date().getFullYear(), 0, 1),
            legend: [1, 2, 3, 4],
            legendColors: {
                min: "#efefef",
                max: "green",
                empty: "#efefef"
            },
            legendVerticalPosition: "top",
            legendHorizontalPosition: "right",
            legendMargin: [0, 0, 0, 10],
            label: {
                position: "top",
                offset: {
                    x: 0,
                    y: 0
                }
            },
            onMouseOver: function (date, count) {
                var tooltip = document.querySelector('.cal-heatmap-tooltip');
                if (tooltip) {
                    tooltip.style.left = (event.pageX - tooltip.clientWidth / 2) + 'px';
                    tooltip.style.top = (event.pageY - tooltip.clientHeight - 10) + 'px';
                }
            }
        });
    </script>
}